<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Iesi.Collections" version="4.0.0.4000" targetFramework="net40-Client" />
  <package id="NHibernate" version="4.0.3.4000" targetFramework="net40-Client" />
  <package id="NUnit" version="2.6.4" targetFramework="net40-Client" />
  <package id="System.Data.SQLite" version="1.0.88.0" targetFramework="net40-Client" />
</packages>